{% extends 'base.html' %}
{% load static %}

{% block title %}Canciones{% endblock %}

{% block content %}
<h2>Canciones</h2>
<ul class="song-list">
{% for song in songs %}
<li class="song-item">
    {% if song.cover %}
        <img src="{{ song.cover.url }}" alt="Portada de {{ song.title }}" class="song-cover">
    {% else %}
        <img src="{% static 'img/logo.png' %}" alt="Portada de {{ song.title }}" class="song-cover">
    {% endif %}
    <div class="song-info">
        <h3>
            {% if song.album %}
                <a href="{% url 'music:album_detail' song.album.id %}">{{ song.title }}</a>
            {% else %}
                <a href="{% url 'music:artist_detail_public' song.artist.id %}">{{ song.title }}</a>
            {% endif %}
        </h3>
        <p>{{ song.artist.user.username }}</p>
        <p>{% if song.album %}{{ song.album.title }}{% else %}Single{% endif %}</p>
    </div>
</li>
{% endfor %}
</ul>
{% endblock %}
